<div>
  abc works!
  <button (click)="startRec()">START</button>
  <button (click)="stopRec()">STOP</button>
  <a href="" id="aud">CLICK HERE</a>
  <h2> {{analyserNode}}</h2>
  <audio id="recorder" controls></audio>
  <div class="container">
    <div class="mover" [style.width.%]="analyserNode" [style.background]="analyserNode>2?red:black"></div>
  </div>
  {{selectedDevice}}
  <select [(ngModel)]="selectedDevice" (change)="changeRecSource()">
    <option [value]="device.deviceId" *ngFor="let device of deviceslist">{{device.label}}</option>
  </select>
  <button (click)="showConsole()">ShowConsole</button>

</div>